[submodule "tools/cmake"]
	path = tools/cmake
    url = https://dev.antmicro.com/git/cmake-remote-generator
    branch = add/print-dep
[submodule "tools/buildgrid"]
	path = tools/buildgrid
	url = https://dev.antmicro.com/git/buildgrid
	branch = fmb
