[submodule "tools/cmake"]
	path = tools/cmake
    url = https://github.com/antmicro/CMake.git
    branch = add/print-dep
[submodule "tools/buildgrid"]
	path = tools/buildgrid
	url = https://github.com/antmicro/buildgrid.git
